---
import { getCollection } from "astro:content";
import OrbitTestComponent from "../components/OrbitTest.astro";
import { buildOrbitScene } from "../lib/orbitTest";

const contractEntries = await getCollection("contracts");
const contractNames = contractEntries
  .sort((a, b) => a.data.title.localeCompare(b.data.title))
  .map((entry) => entry.data.title || entry.slug);

const { orbitRingMeta, gravitySpotSize } = buildOrbitScene(contractNames);
---

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Orbit quick start</title>
    <link rel="stylesheet" href="/orbit.css" />
    <script src="/orbit.js" defer></script>
  </head>
  <body>
    <OrbitTestComponent
      orbitRingMeta={orbitRingMeta}
      gravitySpotSize={gravitySpotSize}
    />
  </body>
</html>
