---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<aside class="warning-callout">
  <header>
    <svg class="warning-icon" viewBox="0 0 24 24" aria-hidden="true">
      <path
        d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3"
      ></path>
      <path d="M12 9v4"></path>
      <path d="M12 17h.01"></path>
    </svg>
    <strong>{title}</strong>
  </header>
  <div>
    <slot />
  </div>
</aside>
